.card {
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

button {
    bottom: 1rem;
}

img {
    width: 100%;
}

@media (max-width: 768px) {
    img {
        height: 200px;
    }

    .card {
        height: 400px;
    }
}

@media (max-width: 992px) {
    img {
        height: 200px;
    }
}

@media (max-width: 1024px) {
    img {
        height: 200px;
    }
}

@media (min-width: 1024px) {
    img {
        height: 200px;
    }

    .card {
        height: 200px;
    }
}