<div class="card m-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://placehold.co/400x400" class="img-fluid object-fit-cover"
                alt="placeholder image">
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ path.title }}</h5>
                <p class="card-text">{{ path.description }}</p>
                <a routerLink="path/{{ path.id }}">
                    <button type="button" class="btn btn-primary position-absolute">Bekijk de modules&nbsp;<i
                            class="bi bi-arrow-right-square"></i></button>
                </a>
            </div>
        </div>

    </div>
</div>