<div class="mt-4 p-5 bg-primary text-white">
    <h1>Bron</h1>
    <p>een nader te specificeren bron</p>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">
                Lorem Ipsum
            </h1>
            <p class="text-center fst-italic">
                "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            </p>
            <p class="p-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis purus eu mi facilisis, ac interdum neque cursus. Praesent posuere fringilla commodo. Suspendisse commodo urna vitae ultricies sodales. Aliquam ornare magna nec maximus dignissim. Morbi eu sagittis turpis. Nunc id mollis urna. Aliquam aliquam arcu mi, non facilisis libero facilisis id. Sed ut hendrerit ipsum, at volutpat massa. Suspendisse volutpat, orci quis volutpat rhoncus, purus ex pretium mi, sed rhoncus tortor lacus sit amet libero. Cras egestas, mi ac molestie ultrices, felis lorem scelerisque nisi, sed rhoncus orci lacus sed felis. Etiam sagittis ex aliquet lacus mattis, dignissim interdum enim commodo. Nulla ut ligula fermentum, luctus elit id, fermentum ligula. Donec a ligula at felis rutrum luctus ut nec nisl. Quisque convallis placerat molestie. Pellentesque elit ante, venenatis non leo sed, fringilla commodo mi. Fusce pulvinar purus eget iaculis pretium.

Pellentesque faucibus gravida nisi, sit amet sodales augue facilisis at. Duis iaculis tincidunt diam. Duis ut arcu at leo elementum tincidunt. Aliquam laoreet varius metus, ut rhoncus sem. Suspendisse commodo placerat tellus vel molestie. Duis commodo eleifend pharetra. Sed commodo odio a ex accumsan dapibus. Duis cursus sapien sapien, id venenatis ligula tempor quis. Etiam ultricies libero nunc, vulputate auctor neque volutpat interdum.

Nulla id mi magna. Etiam eget accumsan arcu. Sed dictum tempus volutpat. Aenean mattis consequat cursus. Nam nibh est, efficitur quis rhoncus non, lobortis non lectus. Praesent fringilla condimentum porta. Proin sed arcu enim.

Morbi non urna efficitur, posuere lectus quis, consectetur enim. In pharetra, ex ac ullamcorper gravida, libero massa consequat orci, in ultricies neque eros sit amet ante. Duis finibus, magna vitae hendrerit lobortis, dui libero lobortis neque, at congue metus tellus in purus. Integer et tellus nec ex viverra aliquam pellentesque at arcu. Vivamus porttitor nec erat vel hendrerit. Vestibulum quis egestas urna. Curabitur pulvinar turpis at metus blandit aliquet. Fusce vehicula tortor dictum neque viverra, et lacinia diam congue. Nullam a purus nisl. Quisque ex enim, finibus vel justo in, pharetra cursus leo.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin massa, eu suscipit lectus. Mauris a nunc a nulla dictum blandit. Nulla a massa nec ex accumsan aliquet in maximus massa. Integer vestibulum porttitor tempor. Fusce aliquam pellentesque ex. Mauris nec nisi iaculis, commodo arcu eget, interdum dui.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <button (click)="backClicked()" type="button" class="btn btn-light mt-3"><i class="bi bi-arrow-left"></i>&nbsp;Ga terug</button>
        </div>
    </div>
</div>
