<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>{{path.title}}</h1>
  <p>{{path.description}}</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://placehold.co/300x300" class="img-fluid rounded-start" alt="placeholder image">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{path.title}}</h5>
                      <p class="card-text">{{path.description}}</p>
                      <a href="#">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
