<div class="mt-4 p-5 bg-primary text-white">
  <h1>{{path.title}}</h1>
  <p>{{path.description}}</p>
</div>
<div class="container-fluid">
  <div class="row">
  @for (module of modules; track module.id) {
      <div class="col-sm-6 col-lg-4">
      <app-module-card [module]="module"></app-module-card>
      </div>
  }
  </div>
  <div class="row">
    <div class="col">
      <button (click)="backClicked()" type="button" class="btn btn-light mt-3"><i class="bi bi-arrow-left"></i>&nbsp;Ga terug</button>
    </div>
  </div>
</div>
