<div class="mt-4 p-5 bg-primary text-white bg-gradient">
    <div class="row">
        <div class="col-md-6">
            <h1>{{module.title}}</h1>
            <a href="{{module.uri}}">
                <button type="button" class="btn btn-light mt-4">Lees meer...</button>
            </a>
        </div>
        <div class="col-md-6">
            <p>{{module.description}}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h2>Bronnen</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titel</th>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Uri</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>

                @for (r of resources; track r.id) {
                    @if (module.resources.includes(r.id)) {
                        <tr>
                            <td>{{r.id}}</td>
                            <td>{{r.title}}</td>
                            <td>{{r.description}}</td>
                            <td><a routerLink="/resource/detail">
                                <button type="button" class="btn btn-primary btn-sm">Bron&nbsp;<i class="bi bi-arrow-right-square"></i></button>
                            </a></td>
                            <td>{{r.type}}</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>



<button (click)="backClicked()" type="button" class="btn btn-light mt-3"><i class="bi bi-arrow-left"></i>&nbsp;Ga
    terug</button>