<div class="p-3">
    <h2 class="text-primary">Frontend development</h2>
    <div ngbAccordion>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton><span class="text-primary numbered">1.</span><strong>HTML</strong><span
                        class="cat">what is?</span></button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton><span class="text-primary numbered">2.</span><strong>CSS</strong><span
                        class="cat">what is?</span></button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton><span class="text-primary numbered">3.</span><strong>Responsive Web
                        Design</strong><span class="cat">course</span></button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton><span class="text-primary numbered">4.</span><strong>JavaScript</strong><span
                        class="cat">course</span></button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton><span class="text-primary numbered">5.</span><strong>TypeScript</strong><span
                        class="cat">what is?</span></button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton><span class="text-primary numbered">6.</span><strong>Angular</strong><span
                        class="cat">to be continued...</span></button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                            <li class="list-group-item"><a href="https://example.com" class="link-underline-light">Link naar iets</a></li>
                        </ul>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>