<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">UserId</th>
			<th scope="col">Title</th>
			<th scope="col">Body</th>
		</tr>
	</thead>
	<tbody>
		@for (post of posts; track post.id) {
			<tr>
				<th scope="row">{{ post.id | number}}</th>
				<td>{{ post.userId | number }}</td>
				<td>{{ post.title }}</td>
				<td>{{ post.body }}</td>
			</tr>
		}
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refreshPosts()"
	>
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshPosts()">
		<option [ngValue]="5">5 items per page</option>
		<option [ngValue]="10">10 items per page</option>
		<option [ngValue]="20">20 items per page</option>
		<option [ngValue]="50">50 items per page</option>
	</select>
</div>