<div class="d-flex">
	<div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column" orientation="vertical">
		<ng-container ngbNavItem="frontend">
			<button ngbNavLink><i class="bi bi-window-sidebar section_icon"></i>Frontend</button>
			<ng-template ngbNavContent>
				<app-frontend-modules />
			</ng-template>
		</ng-container>
		<ng-container ngbNavItem="backend">
			<button ngbNavLink><i class="bi bi-database section_icon"></i>Backend</button>
			<ng-template ngbNavContent>
				<app-backend-modules />
			</ng-template>
		</ng-container>
		<ng-container ngbNavItem="scrum">
			<button ngbNavLink><i class="bi bi-people section_icon"></i>Scrum</button>
			<ng-template ngbNavContent>
				<app-scrum-modules />
			</ng-template>
		</ng-container>
	</div>

	<div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>
