<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><fa-icon [icon]="faTerminal"></fa-icon>&nbsp;BeeThere</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item"><a class="nav-link" routerLink="/"><fa-icon [icon]="faHouse"></fa-icon>&nbsp;Home</a></li> -->
        </ul>
    </div>
</nav>
<div class="bg-light bg-gradient pb-4">
    <router-outlet />
</div>
<div class="mt-4 p-2 bg-secondary text-white bg-gradient">
    <span class="ms-3">Thomas</span>
</div>
