<div class="mt-4 p-5 bg-primary text-white bg-gradient">
    <h1>Bronnen</h1>
    <p>een overzicht van de beschikbare bronnen</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titel</th>
                        <th scope="col">Omschrijving</th>
                        <th scope="col">Uri</th>
                    </tr>
                </thead>
                <tbody>
                    @for (r of resources; track r.id) {
                        <tr>
                            <td>{{ r.id | number }}</td>
                            <td>{{ r.title }}</td>
                            <td>{{ r.description }}</td>
                            <td>
                                <a routerLink="/resource/detail">
                                    <button type="button" class="btn btn-sm btn-warning"><fa-icon [icon]="faFilePdf"></fa-icon>&nbsp;Link naar resource</button>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="backClicked()" type="button" class="btn btn-light mt-3"><i class="bi bi-arrow-left"></i>&nbsp;Ga terug</button>
        </div>
    </div>
</div>