.wrapper {
    margin: 20px 0 0 20px;
}

.hex-green-top {
    width: 0;
    border-bottom: 45px solid #6C6;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}

.hex-green-bottom {
    width: 0;
    border-top: 45px solid #6C6;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}

.hex-green-fill {
    width: 156px;
    height: 90px;
    background-color: #6C6;
}

.hex-red-top {
    width: 0;
    border-bottom: 45px solid #FA5F55;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    margin-left: 78px;
    margin-top: -40px;
}

.hex-red-bottom {
    width: 0;
    border-top: 45px solid #FA5F55;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    margin-left: 78px;
}

.hex-red-fill {
    width: 156px;
    height: 90px;
    background-color: #FA5F55;
    margin-left: 78px;
}

.hex-blue-top {
    width: 0;
    border-bottom: 45px solid #6495ED;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    margin-top: -40px;
}

.hex-blue-bottom {
    width: 0;
    border-top: 45px solid #6495ED;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}

.hex-blue-fill {
    width: 156px;
    height: 90px;
    background-color: #6495ED;
}
