<div class="wrapper">
    <div class="hexagon">
        <div class="hex-green-top"></div>
        <div class="hex-green-fill"></div>
        <div class="hex-green-bottom"></div>
    </div>

    <div class="hexagon">
        <div class="hex-red-top"></div>
        <div class="hex-red-fill"></div>
        <div class="hex-red-bottom"></div>
    </div>

    <div class="hexagon">
        <div class="hex-blue-top"></div>
        <div class="hex-blue-fill"></div>
        <div class="hex-blue-bottom"></div>
    </div>
</div>